<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <style type="text/css">
            body{
                background-image: url('/static/images/backgroundSample.jpg');
            }
            #sample{
                margin-top: 13%;
                margin-left: 12%;
            }
        </style>
    </head>
    <body>
        <div id="page">
            <div class ='contents'>
                <ul>
                    <li><a href = "http://localhost:5000/">Home</a></li>
                        <li><a href = "http://localhost:5000/about">About</a></li>
                        <li><a class = "active" href = "http://localhost:5000/sample">Sample Excel sheet</a></li>
                        <li><a href = "http://localhost:5000/uploader">Download</a></li>
                </ul>
            </div>
            <div id="sample">   
                <img src="/static/images/excel_sample.png" height="70%">
            </div>
        </div>
    </body>
</html>
